doctype html
html
	head
		meta(charset="utf8")
		title Webpack-personal-template
		link(rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon")
		meta(name="description" content="description")
		meta(name="keywords" content="keywords")
		meta(name="viewport" content="initial-scale=1.0, width=device-width")
		link(type="text/css" rel="stylesheet" href="static/styles/styles.css")
	body
		header
			a(href="https://github.com/whiteGloom/Webpack-personal-template" target="_blank" rel="noopener noreferrer")
				h1 Project template by wGloom
		main
			section
				header
					h2 List of used plugins:
				ul
					li
						a(href="https://webpack.js.org/" target="_blank" rel="noopener noreferrer") Webpack
					li
						a(href="https://pugjs.org/" target="_blank" rel="noopener noreferrer") Pug
					li
						a(href="http://stylus-lang.com/" target="_blank" rel="noopener noreferrer") Stylus
					li
						a(href="https://jasmine.github.io/" target="_blank" rel="noopener noreferrer") Jasmine
					li
						a(href="https://eslint.org/" target="_blank" rel="noopener noreferrer") ES Lint
		script(src="./scripts/scripts.js")